---
layout: default
---



{% include features.html %}
{% include banner.html %}
			<!-- Main -->
				<div id="main-wrapper">
					<div id="main" class="container">
						<div class="row">

							<!-- Content -->
								<div id="content" class="8u 12u(mobile)">

									<!-- Post -->
										<article class="box post">
											<header>
												<h2><a href="#">What's inside the nutshell.
												</a></h2>
											</header>
											<a href="#" class="image featured"><img src="images/seedlingsphoto.jpg" alt="" /></a>
											<h3>The esssential parts of the polyponic system.</h3>
											<p>A polyponic system is a system with many components working together to provide the best environmnet to grow in. To get the best performance start with the best water. Water is the life-blood of an hydroponic or aquaponic system. It is the medium through which all essential macro- and micronutrients are transported to the plants, and the medium through which the fish receive oxygen. The second component is the nutrient source for your plants. There are a organic  </p>
											<ul class="actions">
												<li><a href="#" class="button icon fa-file">Continue Reading</a></li>
											</ul>
										</article>

									<!-- Post -->
										<article class="box post">
											<header>
												<h2><a href="#">Polyponics is literally a Circle of Life. Everything in the system works together to help the next in line.</a></h2>
											</header>
											<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
											<h3>Polyponics Explained</h3>
											<p>Plants, worms and fish work codependantly to create delicious food. Water is cycled from a fishtank to the plants, where the worms are happily living in the soil, via tubing and waterpump. The plants get some of the vital nutrients they need naturally from fish feces.  During this process the water goes through a natural filtration process by the plants roots. From there it passes through a secondary filter to guarentee fresh water for the fish. It is then collected back into the fish tank to start all over. Click the link below for exact specifications.  </p>
											<ul class="actions">
												<li><a href="#" class="button icon fa-file">Continue Reading</a></li>
											</ul>
										</article>

								</div>

							<!-- Sidebar -->
								<div id="sidebar" class="4u 12u(mobile)">

									<!-- Highlights -->
										<section>
											<ul class="divided">
												<li>

													<!-- Highlight -->
														<article class="box highlight">
															<header>
																<h3><a href="#">Montes at quam</a></h3>
															</header>
															<a href="#" class="image left"><img src="images/pic06.jpg" alt="" /></a>
															<p>Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
															viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
															convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
															facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.</p>
															<ul class="actions">
																<li><a href="#" class="button icon fa-file">Learn More</a></li>
															</ul>
														</article>

												</li>
												<li>

													<!-- Highlight -->
														<article class="box highlight">
															<header>
																<h3><a href="#">Tempor ut orci diam</a></h3>
															</header>
															<a href="#" class="image left"><img src="images/pic07.jpg" alt="" /></a>
															<p>Phasellus  sed laoreet massa id justo mattis pharetra. Fusce suscipit ligula vel quam
															viverra sit amet mollis tortor congue magna lorem ipsum dolor et quisque ut odio facilisis
															convallis. Etiam non nunc vel est suscipit convallis non id orci. Ut interdum tempus
															facilisis convallis. Etiam non nunc vel est suscipit convallis non id orci.</p>
															<ul class="actions">
																<li><a href="#" class="button icon fa-file">Learn More</a></li>
															</ul>
														</article>

												</li>
											</ul>
										</section>

								</div>

						</div>
					</div>
				</div>
{% include contact.html %}
