<!-- Features -->
  <div id="features-wrapper">
    <section id="features" class="container">
      <header>
        <h2>POLYPONIC: Water, Fish, Plants, Worms, Micro-organisms </h2>
      </header>
      <div class="row">
        <div class="4u 12u(mobile)">

          <!-- Feature -->
            <section>
              <a href="#" class="image featured"><img src="images/purplepotatopie.png" alt="" /></a>
              <header>
                <h3>DISCOVER</h3>
              </header>
              <p>Over 300,000 varieties of edible plant life exist around the world - many on the verge of being lost to the ages. 90% of these forgotten foods can be grown in your home.</p>
            </section>

        </div>
        <div class="4u 12u(mobile)">

          <!-- Feature -->
            <section>
              <a href="#" class="image featured"><img src="images/purplepotatopie.png" alt="" /></a>
              <header>
                <h3>GROW</h3>
              </header>
              <p>While not maintenance free, our systems significantly reduce input and maximize output so you can spend more time enjoying the fruits of your labor.</p>
            </section>

        </div>
        <div class="4u 12u(mobile)">

          <!-- Feature -->
            <section>
              <a href="#" class="image featured"><img src="images/thiswallgrowsfood.jpg" alt="" /></a>
              <header>
                <h3>ENJOY</h3>
              </header>
              <p>Build a powerful system in any space - from apartment kitchens to corporate offices, Polyponic systems are customized to create pleasing and robust environments that suit your geospatial needs. </p>
            </section>

        </div>
      </div>
      <ul class="actions">
        <li><a href="#" class="button icon fa-file">Tell Me More</a></li>
      </ul>
    </section>
  </div>
