<!-- Features -->
  <div id="features-wrapper">
    <section id="features" class="container">
      <header>
        <h2>POLYPONIC: Water, Fish, Plants, Worms, Micro-organisms </h2>
      </header>
      <div class="row">
        <div class="4u 12u(mobile)">

          <!-- Feature -->
            <section>
              <a href="#" class="image featured"><img src="images/photoforpolyponicINNOVATIVE.jpg" alt="" /></a>
              <header>
                <h3>EFFECTIVE</h3>
              </header>
              <p>We have identified what plants, worms, micro-organisms and fish thrive on. Our systems provide them far better than traditional farms are able.</p>
            </section>

        </div>
        <div class="4u 12u(mobile)">

          <!-- Feature -->
            <section>
              <a href="#" class="image featured"><img src="images/Self-Sustained.jpg" alt="" /></a>
              <header>
                <h3>LOW MAINTENANCE</h3>
              </header>
              <p>Although not maintenance-free, our systems greatly reduce the work needed to keep your plants thriving.</p>
            </section>

        </div>
        <div class="4u 12u(mobile)">

          <!-- Feature -->
            <section>
              <a href="#" class="image featured"><img src="images/thiswallgrowsfood.jpg" alt="" /></a>
              <header>
                <h3>Customized</h3>
              </header>
              <p>We will help you create a grow system where you need it, in your home or in your business. </p>
            </section>

        </div>
      </div>
      <ul class="actions">
        <li><a href="#" class="button icon fa-file">Tell Me More</a></li>
      </ul>
    </section>
  </div>
