<!-- Highlights -->
<section>
  <ul class="divided">
    {% for highlight in site.highlights limit:5 %}
    <li>
      <!-- Highlight -->
        <article class="box highlight">
          <header>
            <h3><a href="{{highlight.link}}">{{highlight.title}}</a></h3>
          </header>
          <a href="#" class="image left"><img src="{{highlight.img}}" alt="" /></a>
          <div>{{highlight.description}}</div>
          <ul class="actions">
            <li><a href="{{highlight.link}}" class="button icon fa-file">Learn More</a></li>
          </ul>
        </article>
    </li>
    {% endfor %}
  </ul>
</section>
