<!DOCTYPE HTML>
<!--
Strongly Typed by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
-->
<html>
<head>
  <title>{{site.title}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/css/main.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
	<!-- Google Apps Verifiation Code -->
	<meta name="google-site-verification" content="OfT9BqazkS1ds4eLEbLu8Xi_05r8dBmihfke6HXcK8s" />
</head>
<body class="homepage">
  <div id="page-wrapper">

    <!-- Header -->
    <div id="header-wrapper">
      <div id="header" class="container">

        <!-- Logo -->
        <h1 id="logo"><a href="/index.html">Polyponic </a></h1>
        <p>Creating thriving growing environments through custom hydroponic systems.</p>


        <!-- Main Nav -->
        <nav id="nav">
          <ul>
            <li><a class="icon fa-home" href="/about"><span>Home</span></a></li>
            <li><a class="icon fa-envira" href="/about"><span>Learn More</span></a></li>
            <li><a class="icon fa-users" href="/"><span>Join Us</span></a></li>
            <li><a class="icon fa-wrench" href="/"><span>Projects</span></a></li>
          </ul>
        </nav>

      </div>
    </div>




    <!--Content -->
    {{ content}}




    <!--Footer -->
    <div id="copyright" class="container">
      <ul class="links">
        <li>&copy; Untitled. All rights reserved.</li>
      </ul>
    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.dropotron.min.js"></script>
    <script src="/js/skel.min.js"></script>
    <script src="/js/skel-viewport.min.js"></script>
    <script src="/js/util.js"></script>
    <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
    <script src="/js/main.js"></script>

  </body>
  </html>
