---
layout: default
---

<!-- Main -->
<div id="main-wrapper">
  <div id="main" class="container">
    <div class="row">

      <!-- Sidebar -->
      <div id="sidebar" class="4u 12u(mobile)">

        <!-- Posts -->
        <section>
          <ul class="divided">
            <!-- Latest 3 Posts -->
            <li>
              <article class="box excerpt">
                <header>
                  {% for post in site.posts offset: 0 limit: 3 %}
                  <span class="date">{{ post.date | date: "%B %d" }}</span>
                  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                </header>
                <p>{{ post.excerpt }}</p>
                {% endfor %}
              </article>
            </li>
          </ul>
        </section>

        <!-- Shoutouts -->
        <section>
          <ul class="divided">
            <li>

              <!-- Highlight -->

              {% include display-shoutout.html %}
              

            </li>
          </ul>
        </section>
      </div> <!-- End Sidebar -->
      <!-- Content -->
      <div id="content" class="8u 12u(mobile) important(mobile)">

        <!-- Page Content -->
        <article class="box post">
          <header>
            <h2>{{ Page.Title }}</h2>
          </header>
          <span class="image featured"><img src="{{ page.hero_img }}" alt="{{ page.title }}" /></span>
          <h3>{{ page.subtitle }}</h3>
          <p>{{ content }}</p>
        </article>

      </div>

    </div>
  </div>
</div>
{% include contact.html %}
